@import "compass/css3";

body {
	font-family:'Droid Serif', serif;
	background-color: #030803;
	color: #FBF7F4;
	overflow: hidden;
	position: relative;
}

.header {
	position: relative;
	height: 500px;
	font-weight: bold;
	background-repeat: no-repeat;
  	background-size: cover;
	background-image: url("http://www.canadaka.net/modules/My_eGallery/gallery/urban_canada/vancouver/vancouver_skyline_281.jpg");
} 
	

.header h1 {
	margin: 0;
	position: absolute;
	font-weight: bold;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.header p{
	margin: 0;
	position: absolute;
	font-weight: bold;
	top: 95%;
	left: 50%;
	margin-right: -50%;
	border-bottom-style: solid;
	transform: translate(-50%, -50%);
}

.links {
	color: #fff;
	padding-bottom: 100px;
}

.links a {
	color: #fff;
}

.navigate li{
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
	
}

.about-me h2 {
	padding-top: 60px;
	padding-bottom: 60px;
}

.about-me {
	font-weight: bold;
	padding-bottom: 50px;
	
}


.skl h1{
	right: 50px;
	
}


.border {
	border-bottom-style: solid;
	border-width: 1px;
	opacity: 0.6;
	padding-bottom: 40px;
}
	

.title {
	padding-left: 100px;
	padding-bottom: 35px;
}

.school-b {
	padding-bottom: 100px;
}

.about-me h1 {
	padding-bottom: 30px;
}

.contact {
	padding: 20px;
}

.img.resize{
	width: 540px;
	height: auto;
}

.projects {
	border-bottom-style: solid;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 40px;
}

.projects h1{
	padding-bottom: 30px;
	font-family: 'Open Sans', sans-serif;
}

.menu-i {
  background: black repeat left top;
  left: -285px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
}

.menu-i ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-i li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu-i a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-menu {
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon a {
	color: #fff;
}

.icon-menu i {
  margin-right: 5px;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.menu {
  cursor: pointer;
  margin: 0 auto;
  padding-left: 1.25em;
  position: relative;
  width: 24px;
  height: 24px;
}
.menu-global {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  border-top: 4px solid white;
  width: 75%;
  transition: 0.55s;
}
.menu-top {
  top: 0;
}
.menu-middle {
  top: 7px;
}
.menu-bottom {
  top: 14px;
}
.menu-top-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(50deg);
  transition: 0.45s 0.4s;
}
.menu-middle-click {
  opacity: 0;
}
.menu-bottom-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(-410deg);
  transition: 0.45s 0.4s;
}
